In [60]:
import pandas as pd
import numpy as np
df = pd.read_csv("abalone.csv", header=None)
df.head(3)

   0      1      2      3       4       5       6     7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.15  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.07   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.21   9

In [61]:
print(data.shape)

(4177, 9)

In [65]:
df[0] = df[0].replace(to_replace='M', value=0)
df[0] = df[0].replace(to_replace='F', value=1)
df[0] = df[0].replace(to_replace='I', value=2)

In [66]:
df.iloc[:,0].unique()

array([0, 1, 2], dtype=int64)

In [67]:
df.head()

   0      1      2      3       4       5       6      7   8
0  0  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  0  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  1  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  0  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  2  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [70]:
from sklearn.model_selection import train_test_split

x_data = df.iloc[:,:-1]
y_data = df.iloc[:,-1]

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.2, random_state=7)

In [71]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()

model.fit(x_train, y_train)
y_predict = model.predict(x_test)

In [72]:
mod_data = data.copy()
#get the indices of the positives samples
pos_ind = np.where(mod_data.iloc[:,-1].values == 1)[0]
#shuffle them
np.random.shuffle(pos_ind)
# leave just 25% of the positives marked
pos_sample_len = int(np.ceil(0.25 * len(pos_ind)))
print(f'Using {pos_sample_len}/{len(pos_ind)} as positives and unlabeling the rest')
pos_sample = pos_ind[:pos_sample_len]

Using 1/1 as positives and unlabeling the rest

In [73]:
mod_data['class_test'] = -1
mod_data.loc[pos_sample,'class_test'] = 1
print('target variable:\n', mod_data.iloc[:,-1].value_counts())

target variable:
 -1    4176
 1       1
Name: class_test, dtype: int64

In [74]:
mod_data.head(10)

   0      1      2      3       4       5       6      7   8  class_test
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15          -1
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7          -1
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9          -1
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10          -1
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7          -1
5  I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.120   8          -1
6  F  0.530  0.415  0.150  0.7775  0.2370  0.1415  0.330  20          -1
7  F  0.545  0.425  0.125  0.7680  0.2940  0.1495  0.260  16          -1
8  M  0.475  0.370  0.125  0.5095  0.2165  0.1125  0.165   9          -1
9  F  0.550  0.440  0.150  0.8945  0.3145  0.1510  0.320  19          -1

In [75]:
x_data = mod_data.iloc[:,:-2].values # just the X 
y_labeled = mod_data.iloc[:,-1].values # new class (just the P & U)
y_positive = mod_data.iloc[:,-2].values # original class

In [76]:
mod_data = mod_data.sample(frac=1)
neg_sample = mod_data[mod_data['class_test']==-1][:len(mod_data[mod_data['class_test']==1])]
sample_test = mod_data[mod_data['class_test']==-1][len(mod_data[mod_data['class_test']==1]):]
pos_sample = mod_data[mod_data['class_test']==1]
print(neg_sample.shape, pos_sample.shape)
sample_train = pd.concat([neg_sample, pos_sample]).sample(frac=1)

(1, 10) (1, 10)